.card{
    border-radius: 7px;
    box-shadow: indigo;
    width: 400px;
    height: auto;
    background-color: lavender;
    box-shadow: 12px 12px 10px 1px rgba(61, 61, 111, 0.2);
}

.card-body{
    padding: 10px;
    padding-left: 20px;
}


button {
    background-color: #1944c3;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 10px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #bfa6af;
}